@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

/* ---------------------------------------------------------------------- */
/* Scroll area */

::-webkit-scrollbar {
    @apply bg-drd-light-neutral-6 w-2 h-1;
}

::-webkit-scrollbar-thumb:horizontal {
    @apply bg-drd-light-neutral-8;
}

::-webkit-scrollbar-thumb:vertical {
    @apply bg-drd-light-neutral-8;
}

* {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
    @apply font-yekanX;
}

/* ---------------------------------------------------------------------- */
/* General area */

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply transition-all text-drd-light-neutral-12 hover:text-drd-light-neutral-13;
}

p {
    @apply transition-all text-drd-light-neutral-10 /*hover:text-drd-light-neutral-13*/;
}

.glass {
    backdrop-filter: blur(20px) saturate(150%);
    -webkit-backdrop-filter: blur(20px) saturate(150%);
}

.app-px {
    @apply px-4 sm:px-12 md:px-20 lg:px-28 xl:px-36 2xl:px-48;
}

/* ---------------------------------------------------------------------- */
/* Fonts area */

@font-face {
    font-family: "IRANYekanWeb";
    src: url("../fonts/IranYekan/IRANYekanWebRegular.ttf") format("truetype");
}

@font-face {
    font-family: "IRANYekanWeb";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/IranYekan/IRANYekanWebBold.ttf") format("truetype");
}

@font-face {
    font-family: "IRANYekanX";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/IRANYekanX/IRANYekanX-Regular.woff") format("woff"),
        url("../fonts/IRANYekanX/IRANYekanX-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "IRANYekanX";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/IRANYekanX/IRANYekanX-Bold.woff") format("woff"),
        url("../fonts/IRANYekanX/IRANYekanX-Bold.woff2") format("woff2");
}

.ss02 {
    font-feature-settings: "ss02";
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
}

.r2l {
    direction: rtl;
}

.l2r {
    direction: ltr;
}
